@page "/"
@using Microsoft.AspNetCore.Identity
@using Blazing.Data
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<style>
    .grid-item {
        color: black; /* Text color */
        height: 200px; /* Fixed height for the grid elements */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        border: 2px solid #1b6ec2; /* Primary border */
        border-radius: 15px; /* Rounded corners */
    }
    .grid-item:hover {
        background-color: #1b6ec2; /* Darker background color on hover */
        color: white;
    }
</style>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <!-- First Grid Item -->
        <div class="col">
            <a href="calendar-events" class="grid-item text-decoration-none">
                <h3>Calendar Events</h3>
            </a>
        </div>
        <!-- Second Grid Item -->
        <div class="col">
            <a href="music" class="grid-item text-decoration-none">
                <h3>Music</h3>
            </a>
        </div>
    </div>
</div>
